<a href="https://colab.research.google.com/github/YolandaMDavis/cs109a-fall2020/blob/covid-research/Boston_Covid_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
DATA_ROOT = '/content/drive/My Drive/Final-Project-for-CS109a/covid_analysis/'

In [29]:
boston_covid_neighborhood_df = pd.read_csv(DATA_ROOT + 'boston_neighborhood_covid.csv')
boston_covid_neighborhood_df["total positive"] = boston_covid_neighborhood_df["total tested"] * boston_covid_neighborhood_df["cumulative positive"]
boston_covid_neighborhood_df = boston_covid_neighborhood_df.rename(columns={"neigborhood":"neighborhood"})
boston_covid_neighborhood_df.head()

  neighborhood  total tested  cumulative positive  total positive
0  East Boston         19590              0.13600       2664.2400
1    Mattapan           8652              0.11200        969.0240
2   Hyde Park          12726              0.11100       1412.5860
3  Dorchester          48850              0.10751       5251.8635
4   Roslindale         12005              0.08200        984.4100

In [30]:
boston_districts_df = pd.read_excel(DATA_ROOT + 'Boston-Neighborhoods-to-Districts.xlsx')
boston_districts_df

    Unnamed: 0             neighborhood district
0            0                  Allston      D14
1            1                 Back Bay       D4
2            2              Beacon Hill       A1
3            3                 Brighton      D14
4            4              Charlestown      A15
5            5               Dorchester      C11
6            6                 Downtown       A1
7            7              East Boston       A7
8            8                   Fenway       D4
9            9           Harbor Islands      NaN
10          10                Hyde Park      E18
11          11            Jamaica Plain      E13
12          12                 Longwood       D4
13          13                 Mattapan       B3
14          14             Mission Hill       B2
15          15                North End       A1
16          16               Roslindale       E5
17          17                  Roxbury       B2
18          18             South Boston       C6
19          19  South Boston Waterfront       C6
20          20                South End       D4
21          21                 West End       A1
22          22             West Roxbury       E5

In [31]:
boston_covid_districts = pd.merge(boston_covid_neighborhood_df,boston_districts_df, on="neighborhood").drop(columns=["Unnamed: 0"])
boston_covid_districts

     neighborhood  total tested  cumulative positive  total positive district
0     East Boston         19590                0.136        2664.240       A7
1      Roslindale         12005                0.082         984.410       E5
2         Roxbury         23736                0.062        1471.632       B2
3    West Roxbury          9356                0.061         570.716       E5
4       South End         20060                0.057        1143.420       D4
5   Jamaica Plain         19720                0.049         966.280      E13
6    South Boston         16450                0.047         773.150       C6
7         Allston         12753                0.042         535.626      D14
8        Brighton         18697                0.042         785.274      D14
9     Charlestown          7060                0.039         275.340      A15
10         Fenway         41215                0.014         577.010       D4
11       Back Bay          9295                0.027         250.965       D4
12    Beacon Hill          4799                0.027         129.573       A1
13       West End          2143                0.027          57.861       A1
14       Downtown          5802                0.027         156.654       A1
15      North End          4905                0.027         132.435       A1

In [32]:
boston_covid_districts = boston_covid_districts.groupby("district").sum()[["total positive","total tested","cumulative positive"]]

In [33]:
boston_crime_df = pd.read_csv(DATA_ROOT + 'boston_crime_2020_latest.csv')
boston_crime_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0       TESTTEST2           423  ...        NaN     (0.00000000, 0.00000000)
1       S97333701          3301  ... -71.051368  (42.33081300, -71.05136800)
2       S47513131          2647  ... -71.135954  (42.23949100, -71.13595400)
3       I92102201          3301  ... -71.107779  (42.32512200, -71.10777900)
4       I92097173          3115  ... -71.059709  (42.29755500, -71.05970900)

[5 rows x 17 columns]

In [39]:
crime_violence_ind = pd.read_csv(DATA_ROOT + 'boston_crime_violence_ind.csv')
crime_violence_ind["OFFENSE_TYPE"].unique()

array(['Assault and/or Battery', 'Other', 'Animal Crime',
       'MV Accident/Property Damage', 'Theft/Robbery/B&E',
       'Child Abuse/Endangerment', 'Harassment',
       'Murder/Manslaughter/Homocide', 'Drugs/Alcohol', 'Weapon',
       'Sex Offense', 'Forgery/Fraud', 'Kidnapping', 'Missing Person',
       'Prisoner Offense', 'Prostitution', 'Val', 'Violation of Order',
       'Warrant'], dtype=object)

In [35]:
# Select 2020 crimes
boston_crime_2020_df = boston_crime_df[boston_crime_df["YEAR"] == 2020].drop(columns=["OFFENSE_CODE_GROUP"])

# Merge with Covid Data
boston_crime_2020_df = pd.merge(boston_crime_2020_df,boston_covid_districts, left_on="DISTRICT", right_on="district")

# Merge with new Violent Crime Indicator
boston_crime_2020_df = pd.merge(boston_crime_2020_df,crime_violence_ind, left_on="OFFENSE_DESCRIPTION", right_on="OFFENSE_DESCRIPTION")

# Set any shooting indicator as violent crime
filter = boston_crime_2020_df["SHOOTING"] == 1
boston_crime_2020_df.loc[filter,"VIOLENT_CRIME"] = 1

      INCIDENT_NUMBER  OFFENSE_CODE  ... VIOLENT_CRIME OFFENSE_TYPE
384         202076827          3301  ...             1        Other
5299        202016431          3115  ...             1        Other
5393        202077826          3115  ...             1        Other
5536        202064743          3115  ...             1        Other
5588        202060175          3115  ...             1        Other
...               ...           ...  ...           ...          ...
50051       202001114          2622  ...             1   Kidnapping
50052       202012821          2622  ...             1   Kidnapping
50053       202010818          2622  ...             1   Kidnapping
50054       202049892          2622  ...             1   Kidnapping
50055       202009470          2622  ...             1   Kidnapping

[2288 rows x 21 columns]