<a href="https://colab.research.google.com/github/YolandaMDavis/cs109a-fall2020/blob/covid-research/Boston_Covid_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# How to use Geohash - https://bigfastblog.com/geohash-intro

!pip install pygeohash

Requirement already satisfied: pygeohash in /usr/local/lib/python3.6/dist-packages (1.2.0)

In [3]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pygeohash as pgh
DATA_ROOT = '/content/drive/My Drive/Final-Project-for-CS109a/covid_analysis/'

In [4]:
boston_covid_neighborhood_df = pd.read_csv(DATA_ROOT + 'boston_neighborhood_covid.csv')
boston_covid_neighborhood_df["total positive"] = boston_covid_neighborhood_df["total tested"] * boston_covid_neighborhood_df["cumulative positive"]
boston_covid_neighborhood_df = boston_covid_neighborhood_df.rename(columns={"neigborhood":"neighborhood"})
boston_covid_neighborhood_df.head()

  neighborhood  total tested  cumulative positive  total positive
0  East Boston         19590              0.13600       2664.2400
1    Mattapan           8652              0.11200        969.0240
2   Hyde Park          12726              0.11100       1412.5860
3  Dorchester          48850              0.10751       5251.8635
4   Roslindale         12005              0.08200        984.4100

In [5]:
boston_districts_df = pd.read_excel(DATA_ROOT + 'Boston-Neighborhoods-to-Districts.xlsx')
boston_districts_df

    Unnamed: 0             neighborhood district
0            0                  Allston      D14
1            1                 Back Bay       D4
2            2              Beacon Hill       A1
3            3                 Brighton      D14
4            4              Charlestown      A15
5            5               Dorchester      C11
6            6                 Downtown       A1
7            7              East Boston       A7
8            8                   Fenway       D4
9            9           Harbor Islands      NaN
10          10                Hyde Park      E18
11          11            Jamaica Plain      E13
12          12                 Longwood       D4
13          13                 Mattapan       B3
14          14             Mission Hill       B2
15          15                North End       A1
16          16               Roslindale       E5
17          17                  Roxbury       B2
18          18             South Boston       C6
19          19  South Boston Waterfront       C6
20          20                South End       D4
21          21                 West End       A1
22          22             West Roxbury       E5

In [6]:
boston_covid_districts = pd.merge(boston_covid_neighborhood_df,boston_districts_df, on="neighborhood").drop(columns=["Unnamed: 0"])
boston_covid_districts

     neighborhood  total tested  cumulative positive  total positive district
0     East Boston         19590                0.136        2664.240       A7
1      Roslindale         12005                0.082         984.410       E5
2         Roxbury         23736                0.062        1471.632       B2
3    West Roxbury          9356                0.061         570.716       E5
4       South End         20060                0.057        1143.420       D4
5   Jamaica Plain         19720                0.049         966.280      E13
6    South Boston         16450                0.047         773.150       C6
7         Allston         12753                0.042         535.626      D14
8        Brighton         18697                0.042         785.274      D14
9     Charlestown          7060                0.039         275.340      A15
10         Fenway         41215                0.014         577.010       D4
11       Back Bay          9295                0.027         250.965       D4
12    Beacon Hill          4799                0.027         129.573       A1
13       West End          2143                0.027          57.861       A1
14       Downtown          5802                0.027         156.654       A1
15      North End          4905                0.027         132.435       A1

In [7]:
boston_covid_districts = boston_covid_districts.groupby("district").sum()[["total positive","total tested","cumulative positive"]]
boston_covid_districts

          total positive  total tested  cumulative positive
district
A1               476.523         17649                0.108
A15              275.340          7060                0.039
A7              2664.240         19590                0.136
B2              1471.632         23736                0.062
C6               773.150         16450                0.047
D14             1320.900         31450                0.084
D4              1971.395         70570                0.098
E13              966.280         19720                0.049
E5              1555.126         21361                0.143

In [8]:
boston_crime_df = pd.read_csv(DATA_ROOT + 'boston_crime_2020_latest.csv')
boston_crime_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0       TESTTEST2           423  ...        NaN     (0.00000000, 0.00000000)
1       S97333701          3301  ... -71.051368  (42.33081300, -71.05136800)
2       S47513131          2647  ... -71.135954  (42.23949100, -71.13595400)
3       I92102201          3301  ... -71.107779  (42.32512200, -71.10777900)
4       I92097173          3115  ... -71.059709  (42.29755500, -71.05970900)

[5 rows x 17 columns]

In [9]:
crime_violence_ind = pd.read_csv(DATA_ROOT + 'boston_crime_violence_ind.csv')
crime_violence_ind["OFFENSE_TYPE"].unique()

array(['Assault and/or Battery', 'Other', 'Animal Crime',
       'MV Accident/Property Damage', 'Theft/Robbery/B&E',
       'Child Abuse/Endangerment', 'Harassment',
       'Murder/Manslaughter/Homocide', 'Drugs/Alcohol', 'Weapon',
       'Sex Offense', 'Forgery/Fraud', 'Kidnapping', 'Missing Person',
       'Prisoner Offense', 'Prostitution', 'Val', 'Violation of Order',
       'Warrant'], dtype=object)

In [10]:
# Select 2020 crimes
boston_crime_df = boston_crime_df.drop(columns=["OFFENSE_CODE_GROUP","REPORTING_AREA","UCR_PART"])

# Merge with Covid Data
boston_crime_df = pd.merge(boston_crime_df,boston_covid_districts, left_on="DISTRICT", right_on="district")

# Merge with new Violent Crime Indicator
boston_crime_df = pd.merge(boston_crime_df,crime_violence_ind, left_on="OFFENSE_DESCRIPTION", right_on="OFFENSE_DESCRIPTION")

# Cleanup shooting data using 0 (no shooting), 1 (shooting), 2 (unknown)
boston_crime_df["SHOOTING"].fillna(value=2, inplace=True)
boston_crime_df["SHOOTING"].replace(to_replace='0',value=0.0, inplace=True)
boston_crime_df["SHOOTING"].replace(to_replace='Y',value=1.0, inplace=True)

# Set any shooting indicator as violent crime
filter = boston_crime_df["SHOOTING"] == 1
boston_crime_df.loc[filter,"VIOLENT_CRIME"] = 1

In [11]:
boston_crime_df = boston_crime_df.rename(columns={"total positive": "COVID_POSITIVE_COUNT", "total tested": "COVID_TESTED_COUNT", "cumulative positive": "COVID_POSITIVE_RATE","Lat":"LATITUDE","Long":"LONGITUDE","Location":"LOCATION"})
boston_crime_df.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ... VIOLENT_CRIME OFFENSE_TYPE
0       S97333701          3301  ...             0        Other
1      I192075514          3301  ...             0        Other
2      I192075282          3301  ...             0        Other
3      I192075034          3301  ...             0        Other
4      I192072929          3301  ...             0        Other

[5 rows x 19 columns]

In [12]:
# Determine Covid Period indicator based on Boston emergency order date March 17th, 2020
import datetime
lockdown_date = datetime.datetime(2020, 3, 17)
crime_dates = pd.to_datetime(boston_crime_df["OCCURRED_ON_DATE"])
covid_ind = crime_dates >= lockdown_date
boston_crime_df["COVID_PERIOD"] = covid_ind.astype(int)
boston_crime_df.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ... OFFENSE_TYPE COVID_PERIOD
0       S97333701          3301  ...        Other            1
1      I192075514          3301  ...        Other            0
2      I192075282          3301  ...        Other            0
3      I192075034          3301  ...        Other            0
4      I192072929          3301  ...        Other            0

[5 rows x 20 columns]

In [13]:
boston_crime_df.loc[boston_crime_df["COVID_PERIOD"] == 0, ["COVID_POSITIVE_COUNT","COVID_TESTED_COUNT", "COVID_POSITIVE_RATE"]] = np.NaN, np.NaN, np.NaN
boston_crime_df.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ... OFFENSE_TYPE COVID_PERIOD
0       S97333701          3301  ...        Other            1
1      I192075514          3301  ...        Other            0
2      I192075282          3301  ...        Other            0
3      I192075034          3301  ...        Other            0
4      I192072929          3301  ...        Other            0

[5 rows x 20 columns]

In [14]:
boston_crime_df["GEOHASH"] = [pgh.encode(row["LATITUDE"],row["LONGITUDE"]) for idx, row in boston_crime_df.iterrows()]
boston_crime_df.sort_values(by=["GEOHASH"])

       INCIDENT_NUMBER  OFFENSE_CODE  ... COVID_PERIOD       GEOHASH
181240      I192009009          3502  ...            0  000000000000
81594       I172016520           802  ...            0  000000000000
81612       I172009289           802  ...            0  000000000000
81638       I162102212           802  ...            0  000000000000
81639       I162102179           802  ...            0  000000000000
...                ...           ...  ...          ...           ...
274842      I152076598          3001  ...            0  drt90m4khv6q
206186      I172081515          3125  ...            0  drt90m4khv6q
33109        202055831          3115  ...            1  drt90mnybhvu
97389       I182075255           413  ...            0  drt90mnybjj6
106064      I162043831          3802  ...            0  drt90mnybjj6

[362481 rows x 21 columns]

In [15]:
boston_crime_df.shape

(362481, 21)

In [16]:
# Write out file (keep commented out unless updating)
#boston_crime_df.to_csv(DATA_ROOT + 'boston_crime_covid_full.csv')