<a href="https://colab.research.google.com/github/YolandaMDavis/cs109a-fall2020/blob/covid-research/Boston_Covid_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
DATA_ROOT = '/content/drive/My Drive/CS109A/Final Project/covid_data/'

In [36]:
boston_covid_neighborhood_df = pd.read_csv(DATA_ROOT + 'boston_neighborhood_covid.csv')
boston_covid_neighborhood_df["total positive"] = boston_covid_neighborhood_df["total tested"] * boston_covid_neighborhood_df["cumulative positive"]
boston_covid_neighborhood_df = boston_covid_neighborhood_df.rename(columns={"neigborhood":"neighborhood"})
boston_covid_neighborhood_df.head()
boston_covid_neighborhood_df.describe()

       total tested  cumulative positive  total positive
count     19.000000            19.000000       19.000000
mean   15674.421053             0.057711     1005.687342
std    12083.626324             0.035494     1204.961250
min     2143.000000             0.014000       57.861000
25%     7856.000000             0.027000      263.152500
50%    12726.000000             0.047000      773.150000
75%    19655.000000             0.072000     1063.915000
max    48850.000000             0.136000     5251.863500

In [29]:
boston_districts_df = pd.read_excel(DATA_ROOT + 'Boston-Neighborhoods-to-Districts.xlsx')
boston_districts_df

    Unnamed: 0             neighborhood district
0            0                  Allston      D14
1            1                 Back Bay       D4
2            2              Beacon Hill       A1
3            3                 Brighton      D14
4            4              Charlestown      A15
5            5               Dorchester      C11
6            6                 Downtown       A1
7            7              East Boston       A7
8            8                   Fenway       D4
9            9           Harbor Islands      NaN
10          10                Hyde Park      E18
11          11            Jamaica Plain      E13
12          12                 Longwood       D4
13          13                 Mattapan       B3
14          14             Mission Hill       B2
15          15                North End       A1
16          16               Roslindale       E5
17          17                  Roxbury       B2
18          18             South Boston       C6
19          19  South Boston Waterfront       C6
20          20                South End       D4
21          21                 West End       A1
22          22             West Roxbury       E5

In [49]:
boston_covid_districts = pd.merge(boston_covid_neighborhood_df,boston_districts_df, on="neighborhood").drop(columns=["Unnamed: 0"])
boston_covid_districts

     neighborhood  total tested  cumulative positive  total positive district
0     East Boston         19590                0.136        2664.240       A7
1      Roslindale         12005                0.082         984.410       E5
2         Roxbury         23736                0.062        1471.632       B2
3    West Roxbury          9356                0.061         570.716       E5
4       South End         20060                0.057        1143.420       D4
5   Jamaica Plain         19720                0.049         966.280      E13
6    South Boston         16450                0.047         773.150       C6
7         Allston         12753                0.042         535.626      D14
8        Brighton         18697                0.042         785.274      D14
9     Charlestown          7060                0.039         275.340      A15
10         Fenway         41215                0.014         577.010       D4
11       Back Bay          9295                0.027         250.965       D4
12    Beacon Hill          4799                0.027         129.573       A1
13       West End          2143                0.027          57.861       A1
14       Downtown          5802                0.027         156.654       A1
15      North End          4905                0.027         132.435       A1

In [38]:
boston_crime_df = pd.read_csv(DATA_ROOT + 'boston_crime.csv')
boston_crime_df.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ...       Long                     Location
0      I192082859           724  ... -71.121563  (42.25951765, -71.12156299)
1      I192082751           724  ... -71.116710  (42.26209214, -71.11670964)
2      I192082680           727  ... -71.135096  (42.35237455, -71.13509584)
3      I192082577           724  ... -71.076402  (42.34947586, -71.07640150)
4      I192079582           727  ... -71.066551  (42.38184582, -71.06655134)

[5 rows x 17 columns]

In [43]:
boston_crime_types_df = boston_crime_df[["DISTRICT","OFFENSE_CODE","OFFENSE_CODE_GROUP","OCCURRED_ON_DATE"]]
boston_crime_types_df.head()

  DISTRICT  OFFENSE_CODE OFFENSE_CODE_GROUP     OCCURRED_ON_DATE
0      E18           724         Auto Theft  2019-10-13 09:28:24
1      E18           724         Auto Theft  2019-10-12 20:11:26
2      D14           727         Auto Theft  2019-10-12 15:12:43
3       D4           724         Auto Theft  2019-10-12 04:41:52
4      A15           727         Auto Theft  2019-10-02 08:08:49

In [48]:
boston_crime_covid = pd.merge(boston_crime_types_df,boston_covid_districts, left_on="DISTRICT", right_on="district")
boston_crime_covid.head()

  DISTRICT  OFFENSE_CODE  ... total positive district
0      D14           727  ...        535.626      D14
1      D14           727  ...        785.274      D14
2      D14          3114  ...        535.626      D14
3      D14          3114  ...        785.274      D14
4      D14          1402  ...        535.626      D14

[5 rows x 9 columns]