<a href="https://colab.research.google.com/github/YolandaMDavis/cs109a-fall2020/blob/socio-economic/HousingValuesGeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install pygeohash

Collecting pygeohash
  Downloading https://files.pythonhosted.org/packages/2c/33/c912fa4476cedcd3ed9cd25c44c163583b92d319860438e6b632f7f42d0c/pygeohash-1.2.0.tar.gz
Building wheels for collected packages: pygeohash
  Building wheel for pygeohash (setup.py) ... done
  Created wheel for pygeohash: filename=pygeohash-1.2.0-py2.py3-none-any.whl size=6162 sha256=18f533d8c1691d119a51a411797f78c953538be0155435955defaa20afd0c611
  Stored in directory: /root/.cache/pip/wheels/3f/5f/14/989d83a271207dda28232746d63e737a2dbd88ea7f7a9db807
Successfully built pygeohash
Installing collected packages: pygeohash
Successfully installed pygeohash-1.2.0

In [3]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pygeohash as pgh
DATA_ROOT = '/content/drive/My Drive/Final-Project-for-CS109a/'

In [4]:
SAM_addresses = pd.read_csv(DATA_ROOT + 'Live_Street_Address_Management__SAM__Addresses.csv')
assessment = pd.read_csv(DATA_ROOT + '2020-property-assessment.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,15,27,28,29,34,35,36,37,38,39,40,41,42,44,45,46,47,48,58,59,64,65,66,67,68,69,70,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
SAM_addresses.shape

(399248, 27)

In [6]:
assessment.shape

(175052, 75)

In [7]:
SAM_addresses[SAM_addresses['PARCEL']==2200078000]

                X          Y  SAM_ADDRESS_ID  ...  WARD  PRECINCT_WARD        PARCEL
132036 -71.124341  42.360299          150718  ...    22           2201  2.200078e+09

[1 rows x 27 columns]

In [8]:
assessment[assessment['PID']==2200078000]

               PID  CM_ID      GIS_ID  ... U_INT_FIN U_INT_CND U_VIEW
163062  2200078000    NaN  2200078000  ...       NaN       NaN    NaN

[1 rows x 75 columns]

In [9]:
assessment_SAM = pd.merge(assessment, SAM_addresses, left_on='PID',right_on="PARCEL")

In [10]:
assessment_SAM.shape

(406162, 102)

In [11]:
assessment_SAM_reduced = assessment_SAM[['PID', 'AV_LAND', 'AV_BLDG', 'AV_TOTAL', 'X', 'Y']]

In [12]:
assessment_SAM_reduced.shape

(406162, 6)

In [13]:
assessment_SAM_reduced["GEOHASH"] = [pgh.encode(row["Y"],row["X"]) for idx, row in assessment_SAM_reduced.iterrows()]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
assessment_SAM_reduced.head()

         PID  AV_LAND  AV_BLDG  AV_TOTAL          X          Y       GEOHASH
0  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
1  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
2  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
3  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
4  100274000        0   745300    745300 -71.027641  42.380959  drt3pepqbp29

In [15]:
pgh.geohash_haversine_distance(assessment_SAM_reduced.iloc[0,6], assessment_SAM_reduced.iloc[4, 6])

28.940991081356703

In [16]:
from geopy import distance

In [17]:
place1 = (assessment_SAM_reduced.iloc[0,5], assessment_SAM_reduced.iloc[0,4])
place2 = (assessment_SAM_reduced.iloc[4,5], assessment_SAM_reduced.iloc[4,4])
print(distance.distance(place1, place2).m)

29.016173010195022

In [18]:
origin = assessment_SAM_reduced[assessment_SAM_reduced['PID']==2200078000]['GEOHASH'].values[0]
origin

'drt2vx2ydspb'

In [19]:
boston_crime = pd.read_csv(DATA_ROOT + 'data_prelim/boston_crime_socio_eco.csv')
boston_crime.shape

(523518, 23)

In [20]:
# boston_crime_2020.drop(columns=['Unnamed: 0'], inplace=True)
boston_crime.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ... 20-34-EMPLOYMENT MEDIAN_INCOME
0       S97333701          3301  ...         0.888016    121877.555
1       I20210846          3201  ...         0.888016    121877.555
2       I20207883          3115  ...         0.888016    121877.555
3      I192078622           619  ...         0.888016    121877.555
4      I192078606          3201  ...         0.888016    121877.555

[5 rows x 23 columns]

In [22]:
boston_crime["GEOHASH"] = [pgh.encode(row["Lat"],row["Long"]) for idx, row in boston_crime.iterrows()]

In [23]:
# boston_crime_2020_reduced = boston_crime_2020.dropna(axis=0, subset=['LATITUDE', 'LONGITUDE'])
# boston_crime_2020_reduced.shape
boston_crime.head()

  INCIDENT_NUMBER  OFFENSE_CODE  ... MEDIAN_INCOME       GEOHASH
0       S97333701          3301  ...    121877.555  drt2z4jfz5kp
1       I20210846          3201  ...    121877.555  drt2zq0f9tyq
2       I20207883          3115  ...    121877.555  drt2z1jhm4wj
3      I192078622           619  ...    121877.555  drt2z5ubvchd
4      I192078606          3201  ...    121877.555  drt2z5gxcunf

[5 rows x 24 columns]

In [30]:
# define function to apply across the GEOHASH of 
from collections import defaultdict

# setting up home value dict (to 600 meter precision) with geohash. 100 meters was giving too many 0 values (almost 1% of rows)
home_value_dict = defaultdict(list)
for idx, row in assessment_SAM_reduced.iterrows():
    home_value_dict[row['GEOHASH'][:6]].append(row['AV_TOTAL'])

In [31]:
# function for getting values from the dictionary from geohash
from statistics import mean

def get_prop_values(geohash, home_values):
  try:
    mean_property_value = mean(home_values[geohash[:6]])
  except:
    mean_property_value = 0

  return mean_property_value

In [32]:
# prop_values_test = get_prop_values(origin, home_value_dict)
# this should create list of the property values near 
LOCAL_PROP_VALUES = [get_prop_values(row["GEOHASH"], home_value_dict) for idx, row in boston_crime.iterrows()]

In [33]:
boston_crime['LOCAL_PROP_VALUES'] = LOCAL_PROP_VALUES

In [34]:
boston_crime.tail(10)

       INCIDENT_NUMBER  OFFENSE_CODE  ...       GEOHASH LOCAL_PROP_VALUES
523508       192078695          3114  ...  drt2yhy2pg3q      1.635523e+07
523509       192078679          3115  ...  drt2ygbe5wdv      2.688223e+07
523510       192071899          3125  ...  drt2yduer065      1.125403e+07
523511       192068048           801  ...  drt2yteug4dt      3.907033e+07
523512       192059632          3125  ...  drt2ydtfqp8u      1.125403e+07
523513       192040735          3125  ...  drt2ystxu3kh      5.518427e+06
523514       192022651          3126  ...  drt2ydtfqp8u      1.125403e+07
523515       190536172           801  ...  drt2ystfc6hq      5.518427e+06
523516       190258751          3125  ...  drt2ydsmpkkw      1.125403e+07
523517       120200242          3115  ...  drt2yg8vdy2r      2.688223e+07

[10 rows x 25 columns]

In [45]:
boston_crime_reduced = boston_crime[boston_crime['Lat']!=0]
boston_crime_reduced.dropna(subset=['Lat', 'Long'], inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
boston_crime_reduced[boston_crime_reduced['LOCAL_PROP_VALUES']==0]

       INCIDENT_NUMBER  OFFENSE_CODE  ...       GEOHASH LOCAL_PROP_VALUES
245         I192075099          3201  ...  7zz631zyd63z               0.0
358         I192073218          3115  ...  7zz631zyd63z               0.0
1141        I192061036          3803  ...  7zz631zyd63z               0.0
1511        I192055819          3831  ...  7zz631zyd63z               0.0
2199        I192045328          3115  ...  7zz631zyd63z               0.0
...                ...           ...  ...           ...               ...
453440       202053157          3116  ...  drt8cmth43ej               0.0
454367       202032124          3116  ...  drt8cmth43ej               0.0
458002      I192067942           727  ...  7zz631zyd63z               0.0
471410      I182061252           802  ...  7zz631zyd63z               0.0
497396      I162058847          1402  ...  7zz631zyd63z               0.0

[321 rows x 25 columns]

In [47]:
boston_crime_reduced['LOCAL_PROP_VALUES'].describe()

count    4.941320e+05
mean     1.098376e+07
std      2.136595e+07
min      0.000000e+00
25%      9.348540e+05
50%      2.949283e+06
75%      1.125403e+07
max      5.811994e+08
Name: LOCAL_PROP_VALUES, dtype: float64

In [49]:
# though I investigated the data by taking out NaN and 0, I'm writing all rows, even with NaNs, etc.
boston_crime.to_csv(DATA_ROOT + 'data_prelim/boston_crime_james.csv', index=False)