<a href="https://colab.research.google.com/github/YolandaMDavis/cs109a-fall2020/blob/socio-economic/HousingValuesGeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
!pip install pygeohash

Collecting pygeohash
  Downloading https://files.pythonhosted.org/packages/2c/33/c912fa4476cedcd3ed9cd25c44c163583b92d319860438e6b632f7f42d0c/pygeohash-1.2.0.tar.gz
Building wheels for collected packages: pygeohash
  Building wheel for pygeohash (setup.py) ... done
  Created wheel for pygeohash: filename=pygeohash-1.2.0-py2.py3-none-any.whl size=6162 sha256=19315b6cdcfe750de3df48b4e0388bc47f09e41f7e54407ad78c4a6de436d0c0
  Stored in directory: /root/.cache/pip/wheels/3f/5f/14/989d83a271207dda28232746d63e737a2dbd88ea7f7a9db807
Successfully built pygeohash
Installing collected packages: pygeohash
Successfully installed pygeohash-1.2.0

In [6]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pygeohash as pgh
DATA_ROOT = '/content/drive/My Drive/Final-Project-for-CS109a/'

In [7]:
SAM_addresses = pd.read_csv(DATA_ROOT + 'Live_Street_Address_Management__SAM__Addresses.csv')
assessment = pd.read_csv(DATA_ROOT + '2020-property-assessment.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,15,27,28,29,34,35,36,37,38,39,40,41,42,44,45,46,47,48,58,59,64,65,66,67,68,69,70,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
SAM_addresses.shape

(399248, 27)

In [9]:
assessment.shape

(175052, 75)

In [10]:
SAM_addresses[SAM_addresses['PARCEL']==2200078000]

                X          Y  SAM_ADDRESS_ID  ...  WARD  PRECINCT_WARD        PARCEL
132036 -71.124341  42.360299          150718  ...    22           2201  2.200078e+09

[1 rows x 27 columns]

In [11]:
assessment[assessment['PID']==2200078000]

               PID  CM_ID      GIS_ID  ... U_INT_FIN U_INT_CND U_VIEW
163062  2200078000    NaN  2200078000  ...       NaN       NaN    NaN

[1 rows x 75 columns]

In [12]:
assessment_SAM = pd.merge(assessment, SAM_addresses, left_on='PID',right_on="PARCEL")

In [13]:
assessment_SAM.shape

(406162, 102)

In [14]:
assessment_SAM_reduced = assessment_SAM[['PID', 'AV_LAND', 'AV_BLDG', 'AV_TOTAL', 'X', 'Y']]

In [15]:
assessment_SAM_reduced.shape

(406162, 6)

In [16]:
assessment_SAM_reduced["GEOHASH"] = [pgh.encode(row["Y"],row["X"]) for idx, row in assessment_SAM_reduced.iterrows()]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
assessment_SAM_reduced.head()

         PID  AV_LAND  AV_BLDG  AV_TOTAL          X          Y       GEOHASH
0  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
1  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
2  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
3  100272000   349800   355900    705700 -71.027291  42.380929  drt3pepwb1tx
4  100274000        0   745300    745300 -71.027641  42.380959  drt3pepqbp29

In [18]:
pgh.geohash_haversine_distance(assessment_SAM_reduced.iloc[0,6], assessment_SAM_reduced.iloc[4, 6])

28.940991081356703

In [19]:
from geopy import distance

In [20]:
place1 = (assessment_SAM_reduced.iloc[0,5], assessment_SAM_reduced.iloc[0,4])
place2 = (assessment_SAM_reduced.iloc[4,5], assessment_SAM_reduced.iloc[4,4])
print(distance.distance(place1, place2).m)

29.016173010195022

In [21]:
origin = assessment_SAM_reduced[assessment_SAM_reduced['PID']==2200078000]['GEOHASH'].values[0]
origin

'drt2vx2ydspb'

In [22]:
assessment_SAM_reduced[(test_dist<20) & (assessment_SAM_reduced['AV_TOTAL']>0)].mean()['AV_TOTAL']

NameError: ignored

In [23]:
boston_crime_2020 = pd.read_csv(DATA_ROOT + 'boston_crime_2020.csv')
boston_crime_2020.shape

(50066, 30)

In [25]:
# boston_crime_2020.drop(columns=['Unnamed: 0'], inplace=True)
boston_crime_2020

      INCIDENT_NUMBER  OFFENSE_CODE  ... 20-34-EMPLOYMENT MEDIAN_INCOME
0           S97333701          3301  ...         0.888016   121877.5550
1           202080441          3301  ...         0.888016   121877.5550
2           202080246          3301  ...         0.888016   121877.5550
3           202080065          3301  ...         0.888016   121877.5550
4           202079731          3301  ...         0.888016   121877.5550
...               ...           ...  ...              ...           ...
50061       202003101          1415  ...         0.725266    65903.7975
50062       202036432          2642  ...         0.725266    65903.7975
50063       202017085          2642  ...         0.725266    65903.7975
50064       202056504          1603  ...         0.725266    65903.7975
50065       202009470          2622  ...         0.725266    65903.7975

[50066 rows x 30 columns]

In [26]:
boston_crime_2020_reduced = boston_crime_2020.dropna(axis=0, subset=['LATITUDE', 'LONGITUDE'])
boston_crime_2020_reduced.shape

(48750, 30)

In [42]:
# define function to apply across the GEOHASH of 
from collections import defaultdict

# setting up home value dict (to 118 meter precision) with geohash
home_value_dict = defaultdict(list)
for idx, row in assessment_SAM_reduced.iterrows():
    home_value_dict[row['GEOHASH'][:7]].append(row['AV_TOTAL'])

In [49]:
# function for getting values from the dictionary from geohash
from statistics import mean

def get_prop_values(geohash, home_values):
  try:
    mean_property_value = mean(home_values[geohash[:7]])
  except:
    mean_property_value = 0

  return mean_property_value

In [50]:
# prop_values_test = get_prop_values(origin, home_value_dict)
# this should create list of the property values near 
LOCAL_PROP_VALUES = [get_prop_values(row["GEOHASH"], home_value_dict) for idx, row in boston_crime_2020_reduced.iterrows()]

In [54]:
boston_crime_2020_reduced['LOCAL_PROP_VALUES'] = LOCAL_PROP_VALUES

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
boston_crime_2020_reduced.tail(10)

      INCIDENT_NUMBER  OFFENSE_CODE  ... MEDIAN_INCOME LOCAL_PROP_VALUES
50056       202012584          1415  ...    65903.7975      1.590019e+06
50057       202012578          1415  ...    65903.7975      5.482419e+07
50058       202005522          1415  ...    65903.7975      5.482419e+07
50059       202005164          1415  ...    65903.7975      2.162086e+08
50060       202004532          1415  ...    65903.7975      6.169746e+05
50061       202003101          1415  ...    65903.7975      4.155917e+06
50062       202036432          2642  ...    65903.7975      4.489371e+06
50063       202017085          2642  ...    65903.7975      1.196902e+06
50064       202056504          1603  ...    65903.7975      5.152512e+07
50065       202009470          2622  ...    65903.7975      8.074521e+05

[10 rows x 31 columns]