<a href="https://colab.research.google.com/github/YolandaMDavis/cs109a-fall2020/blob/covid-research/New_York_Covid_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# How to use Geohash - https://bigfastblog.com/geohash-intro

!pip install pygeohash

Requirement already satisfied: pygeohash in /usr/local/lib/python3.6/dist-packages (1.2.0)

In [3]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pygeohash as pgh
DATA_ROOT = '/content/drive/My Drive/Final-Project-for-CS109a/covid_analysis/'

In [4]:
new_york_covid_df = pd.read_csv(DATA_ROOT + 'nyc_covid.csv')
new_york_covid_df.head()

   MODIFIED_ZCTA  ... TOTAL_COVID_TESTS
0          10001  ...             10794
1          10002  ...             26230
2          10003  ...             27421
3          10004  ...              1529
4          10005  ...              3386

[5 rows x 10 columns]

In [5]:
new_york_covid_totals_df = new_york_covid_df.groupby("BOROUGH_GROUP").sum()[["COVID_CASE_COUNT","TOTAL_COVID_TESTS"]].reset_index()
new_york_covid_totals_df["PERCENT_POSITIVE_TESTS"] = new_york_covid_totals_df["COVID_CASE_COUNT"] / new_york_covid_totals_df["TOTAL_COVID_TESTS"]
new_york_covid_totals_df["BOROUGH_GROUP"] = new_york_covid_totals_df["BOROUGH_GROUP"].str.upper()
new_york_covid_totals_df = new_york_covid_totals_df.rename(columns={"BOROUGH_GROUP": "BOROUGH"})
new_york_covid_totals_df

         BOROUGH  COVID_CASE_COUNT  TOTAL_COVID_TESTS  PERCENT_POSITIVE_TESTS
0          BRONX             55198             489908                0.112670
1       BROOKLYN             71945             848647                0.084776
2      MANHATTAN             32900             649449                0.050658
3         QUEENS             75450             737985                0.102238
4  STATEN ISLAND             17120             160932                0.106380

In [6]:
new_york_crime_df = pd.read_csv(DATA_ROOT + 'nyc_crime.csv')
new_york_crime_df.head()

   CMPLNT_NUM  ...                      New Georeferenced Column
0   972326799  ...  POINT (-73.92914304899993 40.67851591200008)
1   376304873  ...  POINT (-73.87822380899996 40.87490600500007)
2   299326203  ...  POINT (-73.86669235099998 40.66399002800006)
3   674946147  ...       POINT (-74.165090337 40.63584491100005)
4   416422620  ...  POINT (-73.76382298499993 40.59887464700005)

[5 rows x 36 columns]

In [7]:
new_york_crime_df.shape

(306656, 36)

In [8]:
new_york_crime_df['BORO_NM'].unique()

array([nan, 'BRONX', 'MANHATTAN', 'BROOKLYN', 'QUEENS', 'STATEN ISLAND'],
      dtype=object)

In [9]:
# select only 2020 data and drop rows that have na for offenses and boroughs

new_york_crime_df = new_york_crime_df[new_york_crime_df['OFNS_DESC'].notna() & new_york_crime_df['BORO_NM'].notna() ]
new_york_crime_df.head()

    CMPLNT_NUM  ...                       New Georeferenced Column
12   843609180  ...        POINT (-73.867539358 40.83282612800008)
18   774311943  ...   POINT (-73.89631577699998 40.86704639800007)
32   215695380  ...  POINT (-73.92618276999998 40.825393733000055)
34   960386249  ...  POINT (-73.98355117399994 40.734268996000026)
36   398930216  ...   POINT (-74.00709027999993 40.72025522300004)

[5 rows x 36 columns]

In [10]:
# convert to datetime 

ny_datetime =  pd.DatetimeIndex(new_york_crime_df['RPT_DT'])
ny_time = pd.DatetimeIndex(new_york_crime_df['CMPLNT_FR_TM'])
new_york_crime_df['YEAR'] = ny_datetime.year
new_york_crime_df['MONTH'] = ny_datetime.month
new_york_crime_df['DAY'] = ny_datetime.day
new_york_crime_df['DAY_OF_WEEK'] = ny_datetime.day_name()
new_york_crime_df['HOUR'] = ny_time.hour
new_york_crime_df.head()

    CMPLNT_NUM  ADDR_PCT_CD    BORO_NM  ... DAY DAY_OF_WEEK HOUR
12   843609180           43      BRONX  ...  24      Monday   20
18   774311943           52      BRONX  ...  12   Wednesday    0
32   215695380           44      BRONX  ...   6    Saturday    0
34   960386249           13  MANHATTAN  ...  31      Sunday    0
36   398930216            1  MANHATTAN  ...  18      Monday    0

[5 rows x 41 columns]

In [11]:
# select only 2020 data and rename columns
new_york_crime_2020_df = new_york_crime_df[new_york_crime_df['YEAR'] == 2020]
new_york_crime_2020_df = new_york_crime_2020_df[["BORO_NM","CMPLNT_FR_DT","CMPLNT_FR_TM","LAW_CAT_CD","OFNS_DESC","PD_DESC","RPT_DT","Latitude","Longitude","YEAR","MONTH","DAY","DAY_OF_WEEK","HOUR"]] 
new_york_crime_2020_df = new_york_crime_2020_df.rename(columns={"BORO_NM": "BOROUGH","OFNS_DESC":"OFFENSE_DESCRIPTION"})
new_york_crime_2020_df.head()

      BOROUGH CMPLNT_FR_DT CMPLNT_FR_TM  ... DAY DAY_OF_WEEK HOUR
12      BRONX   08/24/2020     20:57:00  ...  24      Monday   20
18      BRONX   08/12/2020     00:05:00  ...  12   Wednesday    0
32      BRONX   06/06/2020     00:10:00  ...   6    Saturday    0
34  MANHATTAN   05/31/2020     00:05:00  ...  31      Sunday    0
36  MANHATTAN   05/18/2020     00:15:00  ...  18      Monday    0

[5 rows x 14 columns]

In [12]:
new_york_crime_covid_df  =  pd.merge(new_york_crime_2020_df,new_york_covid_totals_df, left_on="BOROUGH", right_on="BOROUGH")
new_york_crime_covid_df

              BOROUGH CMPLNT_FR_DT  ... TOTAL_COVID_TESTS PERCENT_POSITIVE_TESTS
0               BRONX   08/24/2020  ...            489908                0.11267
1               BRONX   08/12/2020  ...            489908                0.11267
2               BRONX   06/06/2020  ...            489908                0.11267
3               BRONX   02/19/2020  ...            489908                0.11267
4               BRONX   09/30/2020  ...            489908                0.11267
...               ...          ...  ...               ...                    ...
306283  STATEN ISLAND   01/01/2020  ...            160932                0.10638
306284  STATEN ISLAND   11/30/2019  ...            160932                0.10638
306285  STATEN ISLAND   01/01/2020  ...            160932                0.10638
306286  STATEN ISLAND   12/18/2019  ...            160932                0.10638
306287  STATEN ISLAND   01/01/2020  ...            160932                0.10638

[306288 rows x 17 columns]

In [13]:
new_york_crime_offense_types_df = pd.read_csv(DATA_ROOT + 'nyc_offense_types.csv')
new_york_crime_offense_types_df

                     OFFENSE_DESCRIPTION  ...                  OFFENSE_TYPE
0                    ADMINISTRATIVE CODE  ...                         Other
1   AGRICULTURE & MRKTS LAW-UNCLASSIFIED  ...                         Other
2         ALCOHOLIC BEVERAGE CONTROL LAW  ...                 Drugs/Alcohol
3                  ANTICIPATORY OFFENSES  ...                         Other
4                                  ARSON  ...   MV Accident/Property Damage
5           ASSAULT 3 & RELATED OFFENSES  ...        Assault and/or Battery
6                        BURGLAR'S TOOLS  ...             Theft/Robbery/B&E
7                               BURGLARY  ...             Theft/Robbery/B&E
8          CHILD ABANDONMENT/NON SUPPORT  ...      Child Abuse/Endangerment
9         CRIMINAL MISCHIEF & RELATED OF  ...                         Other
10                     CRIMINAL TRESPASS  ...                         Other
11                       DANGEROUS DRUGS  ...                 Drugs/Alcohol
12                     DANGEROUS WEAPONS  ...                        Weapon
13                    DISORDERLY CONDUCT  ...                         Other
14                  ENDAN WELFARE INCOMP  ...                         Other
15                              ESCAPE 3  ...                         Other
16                        FELONY ASSAULT  ...        Assault and/or Battery
17                     FELONY SEX CRIMES  ...                   Sex Offense
18                               FORGERY  ...                 Forgery/Fraud
19                                FRAUDS  ...                 Forgery/Fraud
20                  FRAUDULENT ACCOSTING  ...                 Forgery/Fraud
21                              GAMBLING  ...                         Other
22                         GRAND LARCENY  ...             Theft/Robbery/B&E
23        GRAND LARCENY OF MOTOR VEHICLE  ...             Theft/Robbery/B&E
24                         HARRASSMENT 2  ...                    Harassment
25            HOMICIDE-NEGLIGENT-VEHICLE  ...  Murder/Manslaughter/Homocide
26        HOMICIDE-NEGLIGENT,UNCLASSIFIE  ...  Murder/Manslaughter/Homocide
27        INTOXICATED & IMPAIRED DRIVING  ...                 Drugs/Alcohol
28                              JOSTLING  ...                         Other
29                            KIDNAPPING  ...                    Kidnapping
30         KIDNAPPING & RELATED OFFENSES  ...                    Kidnapping
31        LOITERING/GAMBLING (CARDS, DIC  ...                         Other
32               MISCELLANEOUS PENAL LAW  ...                         Other
33             NEW YORK CITY HEALTH CODE  ...                         Other
34          NYS LAWS-UNCLASSIFIED FELONY  ...                         Other
35       NYS LAWS-UNCLASSIFIED VIOLATION  ...                         Other
36         OFF. AGNST PUB ORD SENSBLTY &  ...                         Other
37        OFFENSES AGAINST PUBLIC ADMINI  ...                         Other
38        OFFENSES AGAINST PUBLIC SAFETY  ...                         Other
39           OFFENSES AGAINST THE PERSON  ...                         Other
40              OFFENSES INVOLVING FRAUD  ...                 Forgery/Fraud
41          OFFENSES RELATED TO CHILDREN  ...      Child Abuse/Endangerment
42        OTHER OFFENSES RELATED TO THEF  ...             Theft/Robbery/B&E
43                      OTHER STATE LAWS  ...                         Other
44        OTHER STATE LAWS (NON PENAL LA  ...                         Other
45                         PETIT LARCENY  ...             Theft/Robbery/B&E
46        PETIT LARCENY OF MOTOR VEHICLE  ...             Theft/Robbery/B&E
47         POSSESSION OF STOLEN PROPERTY  ...             Theft/Robbery/B&E
48       PROSTITUTION & RELATED OFFENSES  ...                  Prostitution
49                                  RAPE  ...                   Sex Offense
50                               ROBBERY  ...             Theft/Robbery/B&E
51                            SEX CRIMES  ...                   Sex Offense
52                     THEFT OF SERVICES  ...             Theft/Robbery/B&E
53                           THEFT-FRAUD  ...                 Forgery/Fraud
54         UNAUTHORIZED USE OF A VEHICLE  ...                         Other
55        UNLAWFUL POSS. WEAP. ON SCHOOL  ...                        Weapon
56              VEHICLE AND TRAFFIC LAWS  ...                         Other

[57 rows x 3 columns]

In [14]:
new_york_crime_2020_df = pd.merge(new_york_crime_covid_df,new_york_crime_offense_types_df, left_on="OFFENSE_DESCRIPTION", right_on="OFFENSE_DESCRIPTION")
new_york_crime_2020_df.shape

(306288, 19)

In [15]:
new_york_crime_2020_df["GEOHASH"] = [pgh.encode(row["Latitude"],row["Longitude"]) for idx, row in new_york_crime_2020_df.iterrows()]
new_york_crime_2020_df.sort_values(by=["GEOHASH"])

              BOROUGH CMPLNT_FR_DT  ...            OFFENSE_TYPE       GEOHASH
91252   STATEN ISLAND   09/07/2020  ...                   Other  dr5nqm4rvwnm
270565  STATEN ISLAND   07/20/2020  ...                   Other  dr5nqm73yfjg
271986  STATEN ISLAND   12/01/2019  ...                   Other  dr5nqm73yfjg
49403   STATEN ISLAND   06/17/2019  ...              Harassment  dr5nqm787u4h
288351  STATEN ISLAND   04/02/2020  ...       Theft/Robbery/B&E  dr5nqmcxgeem
...               ...          ...  ...                     ...           ...
199428          BRONX   07/20/2020  ...  Assault and/or Battery  dr7885xk9nuh
242443          BRONX   02/20/2020  ...                   Other  dr7885y40b60
297929          BRONX   02/22/2020  ...           Drugs/Alcohol  dr78871q7jnt
297984          BRONX   01/02/2020  ...           Drugs/Alcohol  dr78871q7jnt
174357          BRONX   11/05/2019  ...       Theft/Robbery/B&E  dr78878j39p8

[306288 rows x 20 columns]

In [16]:
new_york_crime_2020_df.shape

(306288, 20)